<div th:remove="tag" xmlns:th="http://www.thymeleaf.org">
<script src="/page/upload/upload.js"></script>
	<section>
		<div id="mess" class="row"></div>
		<div class="col-md-12">
			<div class="form-group">
				<label for="uploadId" class="control-label col-md-2" style="padding-right: 1px; padding-top: 2px">Upload document:</label>
				<div class="col-md-4" style="padding-left: 3px">
					<div class="btn btn-primary">
						<input type="file" class="form-control-file" data-rule-required="true" id="uploadId">
					</div>
					<button type="button" id="saveBtn" th:attr="data-action-url=@{/file/upload}" class="btn btn-success pull-right">Save</button>
				</div>
			</div>
		</div>
		<div id="view"></div>
	</section>
</div>	
